{% extends 'news/base.html' %}
{% load i18n %}
{% block title %}{% trans "Email yuborildi" %}{% endblock %}
{% block content %}
<div class="bn-state" style="margin:60px auto;">
  <div class="bn-state__icon bn-state__icon--success">
    <i class="far fa-envelope"></i>
  </div>
  <div class="bn-state__title">{% trans "Email yuborildi" %}</div>
  <div class="bn-state__text">
    {% trans "Parolni tiklash havolasi emailingizga yuborildi. Spam papkasini ham tekshiring." %}
  </div>
  <div class="bn-state__actions">
    <a href="{% url 'login' %}" class="bn-btn bn-btn--outline">{% trans "Login sahifasiga qaytish" %}</a>
  </div>
</div>
{% endblock %}
