{% extends 'news/base.html' %}
{% load i18n %}
{% block title %}{% trans "Parol o'zgardi" %}{% endblock %}
{% block content %}
<div class="bn-state" style="margin:60px auto;">
  <div class="bn-state__icon bn-state__icon--success"><i class="fas fa-check-circle"></i></div>
  <div class="bn-state__title">{% trans "Parol muvaffaqiyatli yangilandi" %}</div>
  <div class="bn-state__text">
    {{ request.user.username }}, {% trans "yangi parolingiz saqlandi." %}
  </div>
  <div class="bn-state__actions">
    <a href="{% url 'user_profile' %}" class="bn-btn bn-btn--primary">
      <i class="far fa-user"></i> {% trans "Profilga o'tish" %}
    </a>
  </div>
</div>
{% endblock %}
